html
  head
    title Coffee shops
    style(type="text/css").
      table, th, td {
          border: 1px solid black;      
       }
       label {
          display:block;
          font-size:0.5em;      
       }
      
  body
    h1#myHeading Coffee Shops :)
    p.firstParagraph 
    form(action='listing', method='GET')
        select(name='town')
            each town in towns 
                if town == selected
                    option(value=town selected='selected') #{town}
                else 
                    option(value=town) #{town}
        input(type='submit', value='GO!')
    table.table-style
        each shop in shops 
            tr 
                td=shop.id 
                td
                    a(href='single-shop/' + shop.id) #{shop.name}
                td=shop.address
                td=shop.town
                td #{shop.rating} out of #{shop.raters} raters
    br
    a(href="listing")
        button(type="button") Reset filters
    br
    h2 Add a shop 
        form(action='/add-shop', method='POST')
            label Name
            input(type='text' name='shopName')
            label Address 
            input(type='text' name='shopAddress')
            label Town 
            input(type='text' name='shopTown')
            label My Rating
            select(name='shopRating')
                option(value=1) 1
                option(value=2) 2
                option(value=3) 3
                option(value=4) 4
                option(value=5) 5    
            label User
            select(name='user_id') 
                each user in users 
                        option(value=user.id) #{user.username}
            input(type='submit', value='GO!')
    br
    br
    a(href="user-list-table")
        button(type=button) Go to the user list


